.crop {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 100px 1fr;
  font-size: 1.5em;
}
.back {
  display: flex;
}
.back a {
  padding: 20px 10px;
}
/* header section styles */
.headbg {
  padding: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.headText {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  line-height: 30vh;
  font-size: 3em;
  text-transform: uppercase;
}
.headButton {
  text-align: center;
  line-height: 5vh;
  font-size: 1em;
  background: rgba(37, 15, 15, 1);
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 42%;
}
.headButton:hover {
  color: #5ef38c;
  border-color: #5ef38c;
}

/* description & info section styles */
.infoSection {
  margin: 0px 20px;
  text-align: center;
  background-color: #fff;
}

.infoDesc {
  text-align: justify;
  width: 80vw;
  padding: 20px 20px;
  margin: 0 auto;
  color: #250f0f;
}
.infoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infoItems {
  text-align: left;
  margin: 20px auto;
  padding: 20px 10px;
  width: 40vw;
  border: solid 1px #5caa0a;
  color: #250f0f;
}
.tasks {
  background: #250f0f;
  color: #fff;
  height: 300px;
}

.tasks div {
  padding: 120px 340px;
  font-size: 3em;
}
