/* header section styles */
.headbg {
  padding: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 40vh;
}

.headText {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  line-height: 30vh;
  font-size: 3em;
  text-transform: uppercase;
}

.crop {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 50px 1fr;
  font-size: 1.5em;
}
/* description & info section styles */
.infoSection {
  margin: 40px 20px;
  text-align: center;
  background-color: #250f0f;
}

.infoDesc {
  text-align: justify;
  width: 60vw;
  margin: 0 auto;
  color: #fff;
}
.infoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;

  border: dashed 1px black;
}
.infoItems {
  margin: auto;
  padding: 20px 10px;
  border: solid 1px #5caa0a;
  color: #fff;
}
