*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: montserrat, pacifico;
}
.nav-bar {
  grid-area: "navbar";
}

.landing {
  grid-area: "landing";
  display: grid;
  grid-auto-rows: minmax(480px, auto);
  grid-row-gap: 20px;
}
.footer {
  grid-area: "footer";
  text-align: center;
  margin-top: 20px;
  height: 60px;
}
.app-wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "navbar"
    "landing"
    "footer";
}
